:root{
    --distance:5px;
}

.movieList{
    list-style: none;
    text-align: center;
}




.movieImage{
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 3.0px 6.1px 6.1px hsl(0deg 0% 0% / 0.41);
    margin: 10px;
}

.movieImage:hover{
    box-shadow: none;
    animation:spinner 2s ease;
}

a{
    text-decoration: none;
    color: white;
}

@keyframes spinner {
    100%{
        transform: rotateZ(360deg);
    }
    
}


@media (max-width:560px) {
    .movieImage{ 
        width: 90%;
        height: auto;
    }
}