

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Josefin+Slab:wght@100&family=Nanum+Gothic&family=Noto+Sans+JP:wght@100&family=Rampart+One&display=swap');
.header{
    
    display: flex;
    flex-direction: row-reverse;
    margin-right:1rem;
    position: fixed;
    right: 10px;
    border-radius: 10px;
    backdrop-filter: blur(20%);
    background-color:rgb(43, 42, 51,0.7);
    width: 100%;
    height: 4rem;
}

a{
    color: lightpink;
    font-size: 1rem;
    font-family: 'Nanum Gothic', sans-serif;
    text-decoration: none;
    text-align: center;
    padding: 1rem;
    background-color: transparent;
    display: flex;
    align-items: center;
}
a:hover{
    opacity: 40%;
}