
.searchInput{
    
    color:azure;
    height: 4vh;
    width: 30vh;
    
    
    text-align: left;
    padding-left: 10px;
    background:  transparent;
    font-size: 3vh;
    border-bottom:1x solid lightgray;
    border-top: none;
    border-left: none;
    border-right: none;
    
    outline: none;
}

